<% this.title = '帮助' %>
<% include header %>
<div class="padding" xmlns="http://www.w3.org/1999/html">
    <h1 class="ui center aligned header">帮助</h1>
    <div style="font-content">
        <h2 class="ui header">评测</h2>
        <p>
            C++ 使用 <code>clang++</code> 或 <code>g++</code> 编译，命令形如 &nbsp;<code>clang++/g++ source_file.cpp -o exec_file -O2 -lm -DONLINE_JUDGE -mx32 -std=c++03</code>（对于 C++ 11 和 C++ 17，替换命令中的 <code>-std=</code> 参数）；
            <br> C 使用 <code>clang</code> 编译，命令为 &nbsp;<code>clang source_file.c -o exec_file -O2 -lm -DONLINE_JUDGE -mx32</code>；
            <br> Java 编译时会自动检测您的代码中 <code>public class</code>，如果您的代码中没有 <code>public class</code>，请将入口类命名为 <code>Main</code>。
            <br>
        </p>

        <h2 class="ui header">比赛须知</h2>
        <p>
        <ol>
            <li><p>团队赛且提供打印支持时，选手可以通过网站的打印按钮提交打印请求。</p><p>提交打印请求之后，志愿者会尽快打印提交的内容，并送至选手的座位。提交打印请求后，请选手耐心等待.</p><p>为缓解志愿者压力，请<code style="color: red">不要短时间内重复提交请求。</code></p><p>如果在比赛过程中<code style="color: red">恶意脚本重复提交或者其他方式攻击比赛服务器</code>，将取消比赛资格。</p></li>
            </br>
            <li><p>比赛过程中禁止使用<code style="color: red">任何电子设备。</code></p><p>禁止在比赛过程中<code style="color: red">访问外网。</code> </p></li>
            </br>
            <li><p>禁止抄袭以及任何其他<code style="color: red">作弊行为</code>。一经发现，将直接取消比赛资格。</p></li>
        </ol>
        </p>

    </div>
</div>
<% include footer %>
