<% this.title = '提交成功' %>
<% include header.ejs %>
<div class="padding">
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="print icon"></i>
            提交打印请求成功
            <p>
                为缓解志愿者压力，请勿短时间内重复提交
            </p>
        </div>
    </div>
</div>
<% include footer.ejs %>
